*{
    font-family: Georgia;
}
h1 {
    text-align: center;    
    text-transform: uppercase;
      color:  rgb(39, 160, 235);
    
}
p{
    text-transform: uppercase;
    text-decoration: underline black;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:whitesmoke;
}
button{
    background-color: rgb(39, 160, 235);
    color: white;
    border: none;
    border-radius: 2px;
}
input {
    width: 250px;
    border-radius: 5px;
    border: 1px solid   rgb(39, 160, 235);
    background-color: whitesmoke;
}
a{
    text-decoration: none;
    color: black
}